# directorys
node_modules/
alway/
package-lock.json

# configuration files
config.json
.env
.swp

# snippet files
delete.js
delete*
*.py
uaf*

# log files
report*
logs/

# unstable files
*.t.js
labs/

# data files
data/
